<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="box">
        <h2>Login</h2>

        {% if erro %}
            <p class="erro">{{ erro }}</p>
        {% endif %}

        <form method="POST">
            <input type="text" name="username" placeholder="Usuário" required>
            <input type="password" name="password" placeholder="Senha" required>
            <button type="submit">Entrar</button>
        </form>

        <a href="/register">Criar conta</a>
    </div>
</body>
</html>
