* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #253439;
}
 
body {
  font-family: "Georgia", serif;
  background-color: #253439;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
 
header {
    background-color: #253439;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #ffffff;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

header img {
    width: 40px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

header h2 {
    font-size: 22px;
    font-weight: normal;
    margin-right: 15px;
}

header h5 {
    font-size: 14px;
    font-weight: normal;
    color: #bdc3c7;
    flex-grow: 1;
}

nav {
  display: flex;
  gap: 5px;
}
 
nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}
 
main {
  padding: 60px 40px 80px;
  text-align: center;
  min-height: 70vh;
}
 
main h2 {
  font-size: 42px;
  margin-bottom: 60px;
  font-weight: normal;
}
 
.cursos-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 120px;
  max-width: 1200px;
  margin: 0 auto;
}
 
.curso-item {
  flex: 1;
  max-width: 450px;
}
 
.curso-item img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 40px;
  object-fit: contain;
  margin-top: 20%;
}
 
.curso-microvip img {
  width: 100%;
  max-width: 370px;
  height: auto;
  margin-bottom: 40px;
  object-fit: contain;
  margin-top: 20%;
}
 
.senac-text,
.microvip-text {
  font-size: 20px;
  line-height: 2;
  font-weight: normal;
  color: #ffffff;
  margin-bottom: 21%;
}
 
footer {
  background-color: #253439;
  text-align: center;
  padding: 20px;
  border-top: 2px solid white;
  position: relative;
  top: 10px;
  width: 100%;
  align-items: center;
  margin-bottom: 0;
}
 
footer p {
  font-size: 14px;
  background-color: #253439;
  align-items: center;
  position: relative;
  bottom: 10px;
}
 
a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}
 
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
 
  nav {
    width: 100%;
    flex-wrap: wrap;
  }
 
  .cursos-container {
    flex-direction: column;
    gap: 60px;
    align-items: center;
  }
 
  main h2 {
    font-size: 32px;
  }
 
  .senac-text,
  .microvip-text {
    font-size: 16px;
  }
}
 
 