body {
    background: #f2f2f2;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background: white;
    padding: 30px;
    width: 320px;
    border-radius: 12px;
    box-shadow: 0 0 12px #bbbbbb;
    text-align: center;
}

input, button {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border-radius: 8px;
    border: 1px solid #aaa;
}

button {
    background: #1f7cff;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background: #005ce6;
}

.erro {
    color: red;
    margin-bottom: 10px;
}

a {
    display: block;
    margin-top: 12px;
    color: #1f7cff;
    text-decoration: none;
}
